<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>"Weble Home"</title>
</head>

{{template "header" .}}

<body>

    <div class="w3-container" style="margin-left: 50px">
        <p>Bla bla bla </p>
    </div>
</body>

